img{
    height: 150px;
    width: 150px;
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}
h1{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: right;
}
body{
    background-color: lightseagreen;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}